.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.input{
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.input input {
    padding: 12px;
    height: 36px;
    font-size: 24px;
    width: 300px;
}